

#info{
    background: #333;
    color: white;
    font-family: cursive;
    text-align: center;
}

#info .info-pet img{
    width: 180px;
    height: 180px;
    border: 7px solid white;
    border-radius: 50%;
    padding: 15px;
}
#info .contenedor{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#info .info-pet{
    margin: 15px;
}